<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.hpit.mobile.plugin.emailSender"
      version="8.2.0">
    <name>EmailSenderPlugin</name>
    <description>Send Email</description>
    <license>HP</license>
    <keywords>cordova</keywords>


    <js-module src="www/EmailSenderPlugin.js" name="EmailSenderPlugin">
        <clobbers target="window.EmailSenderPlugin" />
    </js-module>

    <!-- android -->
    <!-- EmailSenderPlugin -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EmailSenderPlugin">
                <param name="android-package" value="com.hpit.mobile.login.EmailSenderPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/EmailSenderPlugin.java" target-dir="src/com/hpit/mobile/login" />      
    </platform>

    <!-- ios -->
    <!-- EmailSenderPlugin -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="EmailSenderPlugin">
                <param name="ios-package" value="EmailSenderPlugin" /> 
            </feature>
        </config-file>
        <header-file src="src/ios/EmailSenderPlugin.h" />
        <source-file src="src/ios/EmailSenderPlugin.m" />
        
        <framework src="MessageUI.framework" />        
    </platform>   
</plugin>